<p id="notice"><%= notice %></p>

<h1>Users</h1>

<div class="table-responsive"><table class="table table-striped table-sm table-bordered table-hover">

  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Emailstatus</th>
      <th>Doctype</th>
      <th>Docstatus</th>
      <th>Phonenumber</th>
      <th>Passhash</th>
      <th>Regtime</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.email %></td>
        <td><%= user.emailstatus %></td>
        <td><%= user.doctype %></td>
        <td><%= user.docstatus %></td>
        <td><%= user.phonenumber %></td>
        <td><%= user.passhash %></td>
        <td><%= user.regtime %></td>
        <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
        <td><%= link_to 'Del', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  </table></div><!-- table-responsive -->

<br>

<%= link_to 'New User', new_admin_user_path %>
